body{
    background-color: rgb(6, 85, 163);
}
#h2i{
    text-align: left;
    color: #1497be;
    font-family: Helvetica;
    font-size: 110%;
    display: block;
    padding: 1%;
    background-color: rgb(39, 64, 80);
    border-radius: 18px;
}
#line{
    text-align: center;
    color: blanchedalmond;
    padding: 9px;
    background-color: rgb(82, 50, 9);
    border-radius: 8px;
}
ul{
 margin: 0;
 padding: 0;
 font-size: 11px;
 font-family: Arial, Helvetica, sans-serif;
 list-style: none; 
 background-color: rgb(4, 117, 108);
 line-height: 38px;
 height: 38px;
 border-radius: 8px;
}
li{
    float: left;
    border-right: 2px solid rgba(120, 178, 192, 0.575);
}
a{
    display: block;
    padding: 0px 30px;
    text-decoration: none;
    color: rgb(209, 223, 165);
}
a:hover{
    background-color: rgb(68, 24, 24);
    color: rgb(206, 189, 173);
    border-radius: 8px;
}